
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#calculator {
    max-width:  500px;
    height: 700px;
    background-color: #042a16;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}
#display{
    width: 100%;
    color: white;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color:#0a5647 ;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button{
    width: 100px;
    height: 100px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

button:hover {
    background-color: #8fe492;
}
button:active {
    background-color:  #6e886f;
}

.operator-btn {
    background-color: #f39c12;

}

.operator-btn:hover {
    background-color: #f1c40f;
}
.operator-btn:active {
    background-color: #d4a479;
}